{% extends 'base.html' %}
{% block title %}
    Login
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock css %}
{% block content %}
    <div class="container flex flex-column justify-content-between align-items-center">
        <form action="/login" method="post">
            <h2>Login</h2>
            <div class="name-field flex flex-column">
                <label for="name">Nome/Email</label>
                <input type="text" id="name">
            </div>
            <div class="password-field flex flex-column">
                <label for="password"> Password</label>
                <input type="password" id="password">
            </div>
            <button type="submit" aria-placeholder="submit">Entrar</button>
        </form>

    </div>
{% endblock content %}

