{% extends 'base.html' %}
{% block title %}
    Login
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock css %}
{% block content %}
    <div class="container">
        <form method="post" action="\login">
            <h2>Login</h2>
            {{form.csrf_token}}
            {{form.email.label}} {{form.email(class_="name-field")}}
            {{form.password.label}} {{form.password(class_="password-field")}}
            {{form.submit(class_="button")}}

        </form>
    </div>

{% endblock content %}

